<html>
<style>body {font-family: Courier;}</style>
<body>
Block explorer<br>    
=======================<br>    
<b>balance</b> : {{balance}}<br>
<b>code</b><br>           
{{#each code}}
    &nbsp;&nbsp;{{this}}<br>
{{/each}}
</body>
</html>