<html>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY="
    crossorigin="anonymous"
/>
<style>
a, a:active, a:focus {
    color: #3498db;
    text-decoration-line: none;
}
a:hover {
    color: #3498db;
    text-decoration-line: underline;
}
td, th {
    padding: 5px 5px;
} 
code {
    font-size: 100%;
    line-height: 1.2;
    background: #fff;
    border: #fff;
    color: #222;
    padding-top: 0;
    padding-bottom: 0;
}
pre {
    margin-top: 0;
    margin-bottom: 0;
}
h6 {
    color: #777;
}
textarea {
    height: 200px;
}   
</style>
<body>
<div class="container">
<section class="header">
<h2 class="title"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Rust_programming_language_black_logo.svg/240px-Rust_programming_language_black_logo.svg.png" height="50" width="50">&nbsp;Rustalleda</h2>
