<html>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY="
    crossorigin="anonymous"
/>
<script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>

<link rel="stylesheet"
    href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"
/>
<style>
a, a:active, a:focus {
    color: #3498db;
    text-decoration-line: none;
}
a:hover {
    color: #3498db;
    text-decoration-line: underline;
}
td, th {
    padding: 5px 5px;
} 
code {
    font-size: 100%;
    line-height: 1.2;
    background: #fff;
    border: #fff;
    color: #222;
    padding-top: 0;
    padding-bottom: 0;
}
pre {
    margin-top: 0;
    margin-bottom: 0;
}
h6 {
    color: #777;
}
textarea {
    height: 200px;
}
@import url();
.search {
  width: 100%;
  position: relative;
}
.search:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: 'FontAwesome';
  content: '\f002';
  background: #8FC357;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always;
}

.searchTerm {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 5px solid #8FC357;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
}

.searchButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

</style>
<body>
<div class="container">

<div class="row">
  <div class="one-third column">
    <h2 class="title"><a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Rust_programming_language_black_logo.svg/240px-Rust_programming_language_black_logo.svg.png" height="50" width="50"></a>&nbsp;Rustalleda</h2>
  </div>
  <div class="two-thirds column">
    <div class="search">
    <input class="searchTerm" placeholder="Search by Address / Txhash / Block ..." /><input class="searchButton" type="button" />
    </div>    
  </div>
</div>

<script>
 $( '.searchTerm' ).bind('keypress', function(e){
   if ( e.keyCode == 13 ) {
      window.location.href = "/"+$('.searchTerm').val()
   }
 });
$('.searchButton').on('click',function(){
    window.location.href = "/"+$('.searchTerm').val()
});    
</script>