<html>
<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet"> 
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY="
    crossorigin="anonymous"
/>
<script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>

<link rel="stylesheet"
    href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"
/>
<style>
a, a:active, a:focus {
    color: #3498db;
    text-decoration-line: none;
}
a:hover {
    color: #3498db;
    text-decoration-line: underline;
}
td, th {
    padding: 5px 5px;
} 
.code {
    font-size: 100%;
    font-family:monospace;
    line-height: 1.2;
    color: #222;
}
h2 {
    font-size: 3.6rem;
}
h6 {
    color: #777;
}
textarea {
    height: 200px;
}
.disabled {
    color: #777;
}
.search {
  width: 100%;
  position: relative;
}
.search:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: 'FontAwesome';
  content: '\f002';
  background: #3498db;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always;
}

.searchTerm {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 5px solid #3498db;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
}

.searchButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

.majorfont {
    font-family: 'Major Mono Display', monospace;
}

</style>
<body>
<div class="container">

<div class="row">
  <div class="one-half column">
    <h2 class="title majorfont">
        <a href="/">tesseracts</a>
    </h2>
  </div>
  <div class="one-half column">
    <div class="search">
    <input class="searchTerm" placeholder="Search by {Address / Txhash / Block} or neb " /><input class="searchButton" type="button" />
    </div>    
  </div>
</div>

<script>
 $( '.searchTerm' ).bind('keypress', function(e){
   if ( e.keyCode == 13 ) {
      window.location.href = "/"+$('.searchTerm').val()
   }
 });
$('.searchButton').on('click',function(){
    window.location.href = "/"+$('.searchTerm').val()
});    
</script>