{{ > header.handlebars }}

<table>
    <thead>
        <th>Block</th>
        <th>Transactions</th>
    </thead>
    <tbody>
        {{#each blocks}}
        <tr>
            <td class=fixed><a href={{block.link}}>{{block.text}}</td>
            <td class=fixed>{{tx_count}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

Last indexed block is #{{ last_indexed_block }}

{{ > header.footer }}